.brand-label {
    height: 70px;
    position: relative;
    margin-top: 10px;
}

.brand-label-name {
    color: white;
    font-weight: bold;
    opacity: 0;
    background-color: none;
    transition: opacity 0.3s;
}

.brand-label:hover .brand-label-name {
    opacity: 1; 
    background-color: grey;
}

.brand-label-img {
    width: 100px;
    margin: auto 0;
}

