.cartp-order-list {
    display: flex;
    flex-direction: column;
}

.cp-check-out {
    margin-top: 10px;
    height: 60px;
    border: none;
    background-color: rgb(26, 166, 26);
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.cp-check-out:hover {
    
}